@charset "UTF-8";

form.fvcn-add-post label {
	display: block;
}

form.fvcn-add-post input[type="text"], form.fvcn-add-post textarea {
	width: 170px;
}
form.fvcn-add-post textarea {
	height: 4.5em;
}

form.fvcn-add-post .fvcn-error {
	color: #aa0000;
}

ul.fvcn-posts-list li p {
	margin-bottom: 8px;
}

#fvcn-form-message {
	background: url(../images/ajax-loader.gif) -1000px -1000px no-repeat;
}
#fvcn-form-message.fvcn-loading {
	background-position: left center;
	min-height: 16px;
	padding-left: 19px;
}
