@charset "utf-8";
/**
 *		Add the CSS in your style.css!
 *		Note that this file will be overwritten while updating.
 */

.fvCommunityNewsList {
	padding: 0 !important;
	margin-left: 5px !important;
}
.fvCommunityNewsList li, .fvCommunityNewsList li:before {
	list-style: none !important;
	content: "" !important;
	color: #333 !important;
}
.fvCommunityNewsList li strong {
	display: block;
}
.fvCommunityNewsList li small {
	font-size: .8em;
	font-style: normal;
	letter-spacing: 1px;
	margin-left: 3px;
}

#fvCommunityNewsForm label {
	display: block;
	color: #000;
	font: 11px Verdana, Geneva, sans-serif;
	font-weight: bold;
	padding: 4px 0 1px 3px;
}
#fvCommunityNewsForm label em {
	color: #e00;
	font: 12px Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}
#fvCommunityNewsForm input, #fvCommunityNewsForm textarea {
	width: 170px;
	font: 11px Verdana, Geneva, sans-serif;
	padding: 3px 2px;
	color: #333;
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;
}
#fvCommunityNewsForm input:focus, #fvCommunityNewsForm textarea:focus { border-color: #b4b4b4 #cbcbcb #cbcbcb #b4b4b4; }
#fvCommunityNewsForm input.error, #fvCommunityNewsForm textarea.error { border-color: #e40000 #fb0000 #fb0000 #e40000; }
#fvCommunityNewsForm input.error:focus, #fvCommunityNewsForm textarea.error:focus { border-color: #c40000 #db0000 #db0000 #c40000; }
#fvCommunityNewsForm textarea { height: 50px; }
#fvCommunityNewsSubmit {
	width: auto !important;
	display: block;
	margin-top: 4px;
}
#fvCommunityNewsForm small a {
	outline: none !important;
}
#fvCommunityNewsErrorResponse { color: #e40000; }
