@charset "utf-8";
#tab-interface .subsubsub a, #tab-interface .subsubsub a:focus{outline: none}
.tabdiv{display: none}
.currentTab{display: block !important}
#fvCommunityNewsForm label{font-weight: bold;display: block;padding: 7px 0 2px 7px;width: 220px;}
#fvCommunityNewsForm label em{font: 13px normal Arial, Helvetica, sans-serif;color: #d54e21}
#fvCommunityNewsForm input, form#fvCommunityNewsForm textarea{border: 1px solid #dfdfdf;-x-system-font: none;font: 13px normal Verdana, Arial, Helvetica, sans-serif;margin: 1px;padding: 3px;width: 230px}
#fvCommunityNewsSubmit{width: auto !important}
#the-submission-list{position: relative}
#the-submission-list .unapproved{background-color: #ffffe0}
#the-submission-list .submission-item blockquote, #the-submission-list .submission-item blockquote p{display:inline;margin:0;padding:0}
#the-submission-list .submission-item p.submission-actions{margin: 0;padding: 0}
.zerosize{display: none}
.form-table fieldset{border: none}
#the-submission-list .submission-actions{font-size: 11px;margin: 0;padding: 0}
#the-submission-list .submission-actions a:hover{color: #d54e21}
#the-submission-list .unapprove a{color: orange}
#the-submission-list .approve a{color: green}
#the-submission-list .delete a{color: red}
#the-submission-list .submission-item h4{color: #999;font-weight: normal;line-height: 1.4;margin-top: -0.2em}
#the-submission-list .submission-item h4 cite, #the-submission-list .submission-item h4 strong{color: #333;font-style: normal}
#the-submission-list .submission-item .avatar{left: 0;position: absolute}
#the-submission-list .submission-item{padding: 1em 10px 1em 70px}
